:root {
	/* Primary */
	--soft-blue: hsl(231, 69%, 60%);
	--soft-red: hsl(0, 94%, 66%);

	/* Neutral */
	--grayish-blue: hsl(229, 8%, 60%);
	--light-grayish-blue: #dfe0e5;
	--tiny-gray: #f8f8f8;
	--white: #ffffff;
	--very-dark-blue: hsl(229, 31%, 21%);
	--very-dark-blue-alpha: hsla(229, 31%, 21%, 0.9);

	/* Font weights */
	--fw-normal: 400;
	--fw-bold: 500;

	/* Font family */
	--ff-rubik: 'Rubik', sans-serif;
}
